@font-face {
    font-family: 'SuperMario256';
    src: url('../fonts/SuperMario256.ttf') format('truetype');
  }
  
*{
margin:0;
padding: 0;
}

.d-block{
    height: 500px;
    position: relative;
}

/*Menu*/
.ham-menu{
width: 90px;
height: 90px;
position: absolute;
z-index: 1000;
margin: 20px;
visibility: hidden;
background-color: #b006ff;
border-radius: 100%;
}

.nav-menu{
border: 1px red solid;
background-color: #c20101;
padding: 0;
margin: 0;
}

.nav-ul{
display: flex;
justify-content: space-around;
align-items: center;
/* height: inherit; */
margin: 0;
padding: 0px;

}

.nav-item{
list-style: none;
font-family: 'SuperMario256',sans-serif;
color:white;
font-size: 20px;
letter-spacing: 5px;
-webkit-text-stroke: 1px black;
margin: 0;
height: inherit;
width: 100%;
padding: 10px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: nowrap;
}

.nav-item:hover{
    background-color: #ff0000;
    font-size: 25px;
}

.icon-menu{
height: 30px;
width: 30px;
margin: 5px;
}

/*fin menu*/
.contenedor{
margin: 0;
padding: 0;
background-color: #2b2b2b;
}

/*Trailer*/
.trailer{
background-color: #2b2b2b;
box-sizing: content-box;
padding-top: 50px;
}

.title-trailer,.title-sinopsis{
text-align: center;
font-family: SuperMario256, sans-serif;
color: white;
border-top: 5px solid white ;
border-bottom: 5px solid white ;
width: 100%;
padding: 20px 0;

}

.trailer-components, .sinopsis-components{
margin: 50px 50px;
display: flex;
}

.img-container{
width: 100%;
display: flex;
}

.video-container, .sinopsis-container{
    width: 100%;
}

.video-container{
display: flex;
align-items: center;
}

.video-trailer{
width: 100%;
}

.sinopsis-components{
margin: 0;
padding: 0 50px;
padding-top: 50px;
}

.img-sinopsis{
transform: scaleX(-1);
}

.sinopsis-img-container{
display: flex;
align-items: center;
justify-content: center;
}

.sinopsis-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-sinopsis{
font-family: "Roboto";
font-size: 30px;
color: #FFFFFF;
font-style: italic;
}

.reserva{
display: flex;
align-items: center;
justify-content: space-around;
}

.img-reserva{
width: 100%;
}

.btn-reservar{
height: 150px;
width: 400px;
border-radius: 50px;
font-family: 'SuperMario256';
background: transparent;
border: 10px solid #13c413;
color: #14d214;
letter-spacing: 10px;
font-size: 30px;
padding: 20px;
cursor: pointer;
box-shadow: 2px #e7e7e7;
box-sizing:border-box;
}

.btn-reservar:hover{
font-size: 35px;
}

footer{
background-color: #c10808;
color: white;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
}

/*Responsive*/
@media(max-width: 1140px){
.nav-item{
display: flex;
flex-wrap: wrap;
flex-direction: column;
}
}


@media (max-width: 895px){

.ham-menu{
visibility: visible;
margin: 10px;
z-index: 2000;
}

.nav-menu{
border: 1px solid green;
position: absolute;
top: 0;
z-index: 1000;
width: 100%;
background-color: #ff0000a5;
height: 100vh;
padding-top: 110px;
}

.nav-ul{
display:block;
padding: 0;
padding: 10px 0;
}

.nav-item{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: #c10808 1px solid;
margin: 0;
}

.trailer-components{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.img-container{
align-items: center;
justify-content: center;
}

.sinopsis-components{
flex-direction: column;

}

.reserva{
flex-direction: column-reverse;
}

.btn-reservar{
margin-top: 20px;
}

}


@media(max-width:680px){

.text-sinopsis{
font-size: 25px;
}

}

@media(max-width:450px) {

    .btn-reservar{
    width: 300px;
    font-size: 20px;
    }
    
}

@media(max-width:350px) {

    .btn-reservar{
    width: 270px;
    font-size: 25px;
    }
    
}

@media(min-width:250px){

.trailer-components{
padding: 0;
margin: 0;
}
.video-container, .video-trailer{
margin: 0;
width: 100%;
}
.video-trailer{
width: 100%;
}

.img-container, .video-img, .img-sinopsis{
width: 100%;
margin: 0;
padding: 0;
}

.text-sinopsis{
font-family: 23px;
}
}




.active{
    display:none;
}
